::selection {
  background: #ff294c;
  color: #fff;
}

::-moz-selection {
  background: #ff294c;
  color: #fff;
}

* {
  font-family: 'Roboto Mono';
}

body {
  &.light {
    background-color: #fff;
    color: #000;
  }

  &.dark {
    background-color: #000;
    color: #fff;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
      display: inline-flex;

      li {
        a {
          color: #ff294c;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .logo {
      margin-top: 14px;
      font-size: 32px;

      &.dark {
        color: #fff;
      }

      &.light {
        color: #000;
      }
    }


  }
}

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  max-width: 720px;
  padding: 24px 0px;
  margin: auto;
  width: 100%;

  .greetings {
    width: 100%;

    .greetings-message {
      font-size: 28px;
      // font-weight: 300;
    }

    .hello {
      font-size: 28px;
      margin-left: 15px;
    }
  }

  .title {
    width: 100%;
    font-size: 28px;
  }

  .about-me {
    width: 100%;
    margin-top: 20px;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 24px;

    .highlight {
      color: #ff294c;
      font-weight: 500;
    }

    a {
      color: #ff294c;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .work-with {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;

    .title {
      width: 100%;
      font-size: 28px;
    }

    .my-stack {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .stack-item {
        margin-right: 25px;
        margin-top: 20px;

        img {
          width: 48px;
        }
      }

      .my-sql,
      .ionic {
        img {
          width: 85px;
        }
      }

    }

  }

  hr {
    margin-top: 25px;
    width: 150px;
    height: 3px;
    border: 1px solid #ff294c;
    background-color: #ff294c;
    border-radius: 5px;
  }

  .portfolio-work {
    margin-top: 10px;
    margin-bottom: 20px;

    .portfolio {
      width: 100%;
      margin-top: 20px;

      .portfolio-link-wrapper {
        display: flex;
        flex-direction: column;

        .portfolio-website {
          font-size: 22px;
        }

        .portfolio-link {
          font-size: 13px;

          a {
            color: #ff294c;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .portfolio-description {
        margin-top: 10px;
        letter-spacing: 0.5px;
        font-weight: 300;
        line-height: 24px;
        font-size: 14px
      }
    }
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  font-size: 14px;

  @media (max-width: 575.98px) {
    flex-direction: column;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    display: inline-flex;

    @media (max-width: 575.98px) {
      padding-left: 0;
    }

    li {
      a {
        color: #ff294c;
        text-decoration: none;
        margin-left: 15px;

        @media (max-width: 575.98px) {
          margin-left: 0;
          margin-right: 15px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.toggle-box-label-left {
  &:empty {
    margin-left: -10px;
  }

  &:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 16px;
    width: 16px;
    // margin: 4px;
    margin: 4px -5px 4px 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    right: 26px;
    bottom: 0px;
    background: #FFB200;
    transform: rotate(-45deg);
    box-shadow: 0 0 10px white;
  }

  &:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    vertical-align: middle;
    // margin: 0 10px;
    border: 2px solid #FFB200;
  }
}

.toggle-box {

  input[type=checkbox] {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;

    &:active {
      position: absolute;
      top: -5000px;
      height: 0;
      width: 0;
      opacity: 0;
      border: none;
      outline: none;
    }

    &:checked+.toggle-box-label-left {
      &:before {
        right: 17px;
        box-shadow: 5px 5px 0 0 #eee;
        background: transparent;
      }

      &:after {
        background: rgba(0, 0, 0, 0.15);
        border: 2px solid white;
      }

      color: rgba(149, 149, 149, 0.51);
      font-weight: normal;
    }

    &:checked+.toggle-box-label-left+.toggle-box-label {
      color: rgba(250, 250, 250, 0.51);
      font-weight: bold;
    }
  }

  label {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: rgba(149, 149, 149, 0.51);
    font-weight: normal;
  }

  input[type=checkbox]+.toggle-box-label-left {
    color: rgba(250, 250, 250, 0.51);
    font-weight: bold;
  }
}